{% extends "layout.html" %}

{% block title %} Course Details Page {% endblock title %}

{% block content %} 


<h1 class="font-bold size-20 bg-orange-400 text-black h-full w-full p-2">Course Details Page</h1>


<div class="items-center justify-center p-2 m-4 bg-gray-200 rounded-lg shadow-lg w-80">

    <img class="h-40 w-96 " src="{{course.thumbnails.url}}" alt="">
    <h3 class="text-gray-950 p-2 font-bold">{{course.course_Name}}</h3>
    {% comment %} <p class="text-black text-justify ">{{course.course_Description}}</p> {% endcomment %}
    <h3 class="text-black text-justify ">INR {{course.course_Price}}/-</h3>
    <p>{{course.course_Description}}</p>
    <a href="{% url "course_detail" course.id %}">
        <button class="bg-orange-400 rounded-md p-1 w-full text-black">
            Add to Cart
            {% comment %} Buy Now {% endcomment %}
        </button>
    </a>

</div>


{% endblock content %}  