{% extends "layout.html" %}

{% block title %} Sujit Tomar {% endblock title %}

{% block content %} 


<h1 class="font-bold size-20 bg-orange-400 text-black h-full w-full p-2">Hi This is Django with My App Page</h1>

{% for course in courses %}


    <div class="inline-flex flex flex-col items-center justify-center p-2 m-4 bg-gray-200 rounded-lg shadow-lg w-80">

        <img class="h-40 w-96 " src="{{course.thumbnails.url}}" alt="">
        <h3 class="text-gray-950 p-2 font-bold">{{course.course_Name}}</h3>
        {% comment %} <p class="text-black text-justify ">{{course.course_Description}}</p> {% endcomment %}
        <h3 class="text-black text-justify ">INR {{course.course_Price}}/-</h3>

        <a href="{% url "course_detail" course.id %}">
            <button class="bg-orange-400 rounded-md p-1 w-full text-black">
                {{course.course_Name}} - {{course.id}}
                {% comment %} Buy Now {% endcomment %}
            </button>
        </a>
    
    </div>

{% endfor %}

{% endblock content %} 